body {
  font-family: sans-serif;
  /* background-color: #bbd8ba7d; */
}

.navbar {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex; /* Ensure items are on the same line */
  align-items: center; /* Vertically align items */
}

.navbar-brand svg {
  margin-right: 10px;
}

.navbar-brand h1 {
  color: #000;
}

.navbar-brand h1 span {
  color: #28a745; /* Color for the specific span */
}

.content-container {
  background-color: none;
  /* border: 0.3px solid rgba(135, 67, 195); */
  background-color: rgb(159, 198, 182);
  border-top: 6px solid rgb(135, 67, 195);
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 20px 50px rgba(158, 91, 216, 0.8); */
}
.content-container:hover{
  box-shadow: 0px 20px 50px rgba(198, 174, 219, 0.8);
}

.job-description h2 {
  color: #fff;
}

#job-description {
  background: #f2f2f2;
  border: 1px solid #ccc;
  width: 80%;
}

#experience-level {
  border: 2px solid #28a745;
  padding: 15px 35px;
  border-radius: 10px;
}

#generate-questions {
  background: #28a745;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  margin-left: 10px;
}
.question-number {
  background-color: #28A745;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px; /* Optional margin for spacing */
}
.col-md-12.mb-3 { /* Target existing classes */
  border: 1px solid #28A745;
  padding: 10px; /* Add padding for spacing inside the border */
}
/* Style the label like a button */
label[for="cv-input"] {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28A745;
  color: #fff;
}

/* Hide the actual file input */
#cv-input {
  display: none;
}

/* Style the selected file name display */
#selected-file {
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
}
.file-name {
  color: #999; /* Initial color, gray */
  margin-left: 5px; /* Add margin after file name */
}

#mic:hover{
  cursor: pointer;
  color: #28A745;
}